# Introduction to Python 1 for the curious geoscientist
#### By A. N. Cocciadiferro

Welcome to the first notebook in a series I have created to help beginner programmers from various science disciplines learn a bit of Python. I specifically call this series, "... for the curious geoscientist" because I myself was educated in geoscience, but these notebooks can be used by anyone.

This first notebook will focus on a few different datatypes in python using some silly examples. This is not an extensive coverage of all of Python's built in data types.

This notebook is a work in progress and will be edited and modified as needed.

## 1. Strings

Strings are just text (e.g. words or sentences). Strings in Python have a few methods, or functions that operate on that type, that may be useful to you. A few examples are shown below in the following codeblock.

In [ ]:
# create a string
my_string = "I'm a geologist!"

# create 2 new strings
my_string_1 = "Rocks are not "
my_string_2 = "for jocks!"

# use the + operator to concatenate these two strings
my_string_3 = my_string_1 + my_string_2

# display my_string_3
my_string_3

Python also offers a feature called formatted string literals, or f-strings. This feature allows you to insert strings that are assigned to other variables into the middle of an existing string. The pattern is shown below.

You can change the value of `obj`, `person_1`, or `person_2` without having to re-write the entire string. This can be useful for a variety of tasks, like sample naming, for example.

In [ ]:
# create string variables
obj = "Rocks"
person_1 = "jocks"
person_2 = "nerds"

# create f string
f_string = f"{obj} are not for {person_1}, instead, they are for {person_2}!"

# display f string
f_string

## 2. Integers

Integers are numbers without decimal places, just like normal math-y integers. When you add, subtract, multiply or specifically use the integer divide operator, the resulting output will be another integer.

The integer divide operator `//` will floor output of the division.

Another interesting operator is the modulo operator `%`. This will return the remainder of the division between the two numbers. An example is shown below.

In [ ]:
# create two integers
a = 1
b = 5

# add two integers
addition = a + b

# multiply two integers
multiply = a * b

# integer divide
int_division = a // b

# modulo
modulo = b % a

output = f"When adding {a} and {b} we get {addition}. When we multiply, we get {multiply}. Then when we divide, we get {int_division}. Last, we use the modulo operator to get {modulo}."

output

## 3. Floats

Floats are numbers with decimals. They use virtually all the same methods as integers. It is important to note though, that float division uses the operator `/` as opposed to the double-slash.

Below are some simple arithmetic operations using floats.

In [ ]:
from os import X_OK
# create a new float
x = 3.1415

# create another float
y = 2.529574

# add them together
add = x + y

# multiply them
mult = x * y

# divide them
div = x / y

# create output string
output = f"We can add two floats {x} and {y} to get {add}. We get {mult} if we multiply them, and {div} if we divide them."

# display output
output

## 4. Lists

Lists are arrays of objects. They are marked by square brackets `[]`. Lists can contain virtually any number of objects, and can be accessed randomly by using that objects index.

There are several useful list methods, which are shown below. Using the `+` operator, we can concatenate two lists together. This is basically just adding the contents of the second list onto the end of the first list.

In [ ]:
# create an empty list
my_list = ["rock"]

# create another list
my_new_list = ["igneous"]

# concatenate two lists
concatenated_list = my_new_list + my_list

# display concatenated list
concatenated_list

Another useful list method is the append method. This adds a single new object onto the end of the list. Append must be called each time you want to add an object to the end of the list.

In [ ]:
# create an empty list
list_1 = []

# append a new value to the end
list_1.append("igneous")
list_1.append("metamorphic")

# display list_1
list_1

A third useful list method is the insert method. We can insert an object anywhere inside the list, provided that index is in bounds. Python indexes from 0, so if you count the number of objects in the list, subtract 1 to get the index.

In [ ]:
# create an empty list
list_2 = []

# append a new value to the end
list_2.append("igneous")
list_2.append("metamorphic")

# insert into the spot before index 1
list_2.insert(1, "sedementary")

# display list_1
list_2

So how would we access a particular value in a list? We simply use square brackets!

In [ ]:
# create a new list
list_3 = ["igneous", "metamorphic", "sedementary"]

# access a value
my_rock_type = list_3[1]

# display rock type
my_rock_type

## 5. Dictionaries

Dictionaries contain key-value pairs. Keys must be an immutable (or unchangeable) data type. Immutable data types include strings, tuples (not covered here), integers, or floats to name a few. A list, for example, cannot be a key in a dictionary, because we can add, or append, new values to that list. While strings appear to have this behavior, they are actually reassigned each time a change is made.

In [ ]:
# create an empty dictionary
my_dict = {}

# add a new key value pair
my_dict["my_rock"] = "igneous"
my_dict["another_rock"] = "sedementary"

# display my dict
my_dict

Let's access a value in a dictionary.

In [ ]:
# access a value in the dict
my_rock_type = my_dict["my_rock"]

# display that value
my_rock_type

## 6. Sets

Sets contain unique values. Notice below that if we try to add the same value to the set twice, a replicate will not be stored. This behavior can come in handy for particular algorithms.

In [ ]:
# create an empty set
my_set = set()

# add values to the set
my_set.add("igneous")
my_set.add("sedementary")
my_set.add("sedementary")

# display the set
my_set

## 7. Booleans

Booleans are simply `True` or `False` values. This data type will come in handy when we get to the notebook on conditional statements. The `type()` function below is a handy built in function that tells us the data type of our object.

In [ ]:
# create a new boolean
my_bool = True

# display bool type
type(my_bool)

Expressions can evaluate to boolean values as shown below.

In [ ]:
# create new expression
exp = 2 == 2

# display exp type
type(exp)